/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target = <&gpio>;
        __overlay__ {
            gamehat_pins: gamehat_pins {
                brcm,pins = <4 5 6 12 13 16 18 19 20 21 23 26>;
                brcm,function = <0 0 0 0 0 0 0 0 0 0 0 0>;
                brcm,pull = <2 2 2 2 2 2 2 2 2 2 2 2>;
            };
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            gamehat_keys: gamehat-keys {
                compatible = "gpio-keys";
                pinctrl-names = "default";
                pinctrl-0 = <&gamehat_pins>;
                status = "okay";

            up     { gpios = <&gpio 5  1>; linux,code = <544>; label = "Up";     };
            down   { gpios = <&gpio 6  1>; linux,code = <545>; label = "Down";   };
            left   { gpios = <&gpio 13 1>; linux,code = <546>; label = "Left";   };
            right  { gpios = <&gpio 19 1>; linux,code = <547>; label = "Right";  };
            b      { gpios = <&gpio 12 1>; linux,code = <304>; label = "B";  };
            a      { gpios = <&gpio 26 1>; linux,code = <305>; label = "A";  };
            x      { gpios = <&gpio 16 1>; linux,code = <307>; label = "X";  };
            y      { gpios = <&gpio 20 1>; linux,code = <308>; label = "Y";  };
            start  { gpios = <&gpio 21 1>; linux,code = <315>; label = "Start";  };
            select { gpios = <&gpio 4  1>; linux,code = <314>; label = "Select"; };
            tl     { gpios = <&gpio 23 1>; linux,code = <310>; label = "TL";     };
            tr     { gpios = <&gpio 18 1>; linux,code = <311>; label = "TR";     };
            };
        };
    };
};
